@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

/*main Page Style*/
html, body {
  width: 100%;
  height: 100%;
  /* remove the extra whites around */
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 1.45;
  font-size: 1.063em;
}

.btn {
  color: #fff;
  cursor: pointer;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}
.btn-5 {
  color:black;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: black;
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5 a{
  font-weight:700px;
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

#whole-page .container-fluid {
  background-image: url("homebackground-01.png");
  background-repeat: no-repeat;
  background-size: 40% 100%;
  background-position: right;
}

#myTopnav .topnav {
  padding:100px;
}

.menu {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: yellow;
  -webkit-clip-path: circle(3px at 35px 35px);
  clip-path: circle(3px at 35px 35px);

  transition: 0.5s;
}

.menu-active {
  -webkit-clip-path: circle(100% at center);
  clip-path: circle(100% at center);
}

.center li {position:relative;}
.center li::before  {
  content:"";
  position:absolute;
  width:100%;
  height:2px;
  left:0;
  bottom:0;
  background-color: #565554;
  visibility:hidden;
  -webkit-transform:scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.center li:hover::before {
  visibility:visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.center {
  text-align: center;
  position: relative;
  top:25%;
}
a, li, ul, a:hover, a:visited, a:link, a:active {text-decoration: none;}

ul {
  float: none;
  display: block;
  text-align: center;
  text-decoration:none;
  color: black;
  padding: 16px;
  list-style-type: none;
}

button {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 30px;
  height: 30px;

  background-color: #D35400;
  border-radius: 50%;}

.vertical-center {
  display: flex;
  align-items: center;
}

.is-active {
  top:2%;
}

#about button:hover {
  opacity:0.5;
  transform: scaleX(1.1);
}
button:focus{ outline:none!important;}

.learnmore {
  position:relative;
  margin:10px;
  color:black;
  float:right;
  bottom:0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.45;
  font-size: 1.063em;
}

.learnmore::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #FFD944;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear,
  -webkit-transform 150ms linear;
}

.learnmore:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.learnmore:hover {
  transform: scaleX(1.1);
}
.card-img-top {width:auto!important; padding-top:25px; object-fit: cover;}

.card-title {padding-top:100px!important;}

@media screen and (max-width:1000px) {
  #whole-page .row {
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  #whole-page .container-fluid {
    background-image: none;
  }
}
/*main page Style end*/

/*transition*/
.overlay{
  background: black;
  z-index: 2;
  position: fixed;
  top: 0%;
  left: -25%;
  width: 150%;
  height: 100%;
  transform: scaleX(0) skewX(-40deg);
  transform-origin: left
}

.transition {
  -webkit-animation: scaletoright 2000ms both cubic-bezier(0.770, 0.000, 0.175, 1.000);
          animation: scaletoright 2000ms both cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

@-webkit-keyframes scaletoright {
  0%   { transform: scaleX(0) skewX(-20deg); transform-origin: left; }
  50%  { transform: scaleX(1) skewX(0deg); transform-origin: left; }
  51%  { transform: scaleX(1) skewX(0deg);; transform-origin: right; }
  100% { transform: scaleX(0) skewX(20deg);; transform-origin: right;}
}
/*transition end*/

/* workexp */
* {
  box-sizing: border-box;
}
figure {
	position: relative;
    overflow: hidden;
    margin: 0 1px 1px 0;
    background: #726FB9;
    text-align: center;
    cursor: pointer;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ot-portfolio-item figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba {
	background: #000;
	margin-bottom: 1px;
}

figure.effect-bubba img {
	opacity: 0.8;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.modal-content {
	border-radius: 0;
}
.modal-header .close {
	font-size: 30px;
}
.modal-title {
	text-transform: uppercase;
	font-size: 23px;
}

.modal-body {
	padding: 0;
}

.modal-body p {
	margin: 30px 20px;
	color: #2D2D2D;
}

.modal-works {
font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    margin: 25px 20px;
}

.modal-works span {
	background-color: #FED136;
    margin-right: 15px;
    padding: 5px 10px;
}
